/* Compile your LESS file! */
.container{
    width: 70%;
    margin-left: 15%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 32%;
    margin-left: 68%;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.aboutcontainer h1{
    font-size: 340%;
    margin-left: 4%;
    margin-top: -9%;  
}

.aboutcontainer h2{
    margin-left: 4%;
    font-style: italic;
}

.picture{
    display: flex;
    width: 32%;
    margin-left: -5%;
    padding: 9%;
}

.innercontainer{
    background: #673ab71f;
}

.aboutcontainer p{
    border-top: solid #0000003d;
    padding: 2%;
}

.good{
    text-align: center;
}

.first{
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    font-family: "Abril Fatface";
}

.second{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.third{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.fourth{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.copyright{
    text-align: center;
    margin-top: 6%;
    background: gray;
}